@import "tailwindcss";

@theme {
  --color-primary: #1A237E;
  --color-secondary: #3F51B5;
  --color-accent: #00BCD4;
  --radius-xl: 12px;
  --radius-lg: 8px;
}

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-[#121212] dark:text-gray-100;
  }
}

